<ion-content>
  <div class="register-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registrarse</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre de usuario</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="block" (click)="register()">Registrarse</ion-button>
        <ion-list *ngIf="errorMessage">
          <ion-item>
            <ion-text color="danger">{{ errorMessage }}</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>