ion-card {
  cursor: pointer;
  transition: transform 0.2s;
  text-align: center;
}

ion-card:hover {
  transform: scale(1.05);
}

ion-card img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

ion-card-content {
  font-size: 1em;
}
