<ion-content>
  <div class="list">
    <ion-header>
      <ion-toolbar>
        <ion-title class="title">Mi App de Tareas</ion-title>
      </ion-toolbar>
    </ion-header>
    <div *ngFor="let tarea of tareas">
      <ion-card-content class="container">
        <ion-card-title>{{ tarea.nombre }}</ion-card-title>
        <button (click)="eliminarTarea(tarea)">  <ion-icon name="trash"></ion-icon></button>
        <div class="fecha">
          <span><strong>Fecha</strong> {{ tarea.fecha }}</span>
        </div>
        <ion-accordion-group>
          <ion-accordion value="first">
            <div class="ion-padding" slot="content">
              {{ tarea.descripcion }}
            </div>
            <ion-item slot="header" color="success">
              <ion-label>Detalles</ion-label>
            </ion-item>
           
          </ion-accordion>
        </ion-accordion-group>
        
        
      </ion-card-content>
    </div>
    <ion-fab-button routerLink="/agregar-tarea">+</ion-fab-button>
  </div>
</ion-content>
